*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 15pt;
}
#box{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1.5px solid #f0f0f0;
    }
.img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
}
.img-wf{
        width: 120px;
        height: 40px;
        position: relative;
        top: -10px;
        left: 10px;
}
#nr{
        width: auto;
        height: 908px;
        padding: 60px;
}

